# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.python_packages/
.venv/
.venv.broken/

# Django
db.sqlite3
staticfiles/
*.log

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
